[buildout]
extensions = mr.developer buildout.dumppickedversions
parts = omelette pytest
index = http://pypi.dolmen-project.org/pypi

develop = .

sources = sources
auto-checkout = *
always-checkout = false
sources-dir = checkouts

[sources]
cromlech.io = git gitosis@devel.dolmen-project.org:cromlech.io.git
cromlech.browser = git gitosis@devel.dolmen-project.org:cromlech.browser.git

[omelette]
recipe = collective.recipe.omelette
eggs = ${pytest:eggs}

[pytest]
recipe = z3c.recipe.scripts
# Need exit status code for buildbot.
# See https://bugs.launchpad.net/zc.buildout/+bug/164629
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
    sys.argv.append('--doctest-modules')
eggs =
    pytest
    dolmen.request [test]
